<div class='container'>
    <%= image_tag @article.picture.thumb.url, class: 'figure-img img-fluid rounded' %>
    <%= @article.title %>
    <%= @article.description %>
    <%= @article.category %>
    <%= @article.time %>
</div>