<div class='container'>
    <%= image_tag(@article.picture_url, :width => 80, :height => 80) if @article.picture.present? %>
    <%= @article.title %>
    <%= @article.description %>
    <%= @article.category %>
    <%= @article.time %>
</div>