<%= simple_form_for(@review) do |f| %>
    <%= f.error_notification %>

    <div class  = "form-inputs">
        <%= f.input :title %>
    </div>

    <div class  = "form-inputs">
        <%= f.input :category %>
    </div>

    <table class = "table">
        <thead>
            <tr>
                <th/>
                <th>Section title</th>
                <th>Section body</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody class = "section_fields">
            <%= f.simple_fields_for :sections do |builder| %>
                <%= render  "section", f: builder %>
            <% end %>
        </tbody>
    </table>

    <table class = "table">
        <thead>
            <tr>
                <th/>
                <th>Specification name</th>
                <th>Specification value</th>
            </tr>
        </thead>
        <tbody class = "specification_fields">
            <%= f.simple_fields_for :specifications do |builder| %>
                <%= render  "specification", f: builder %>
            <% end %>
        </tbody>
    </table>

    <div class = "form-actions">
        <%= f.button :submit %>
        <%= link_to_add_row('Add section', f, :sections, class: '_section_btn btn-primary' ) %>
        <%= link_to_add_row('Add specification', f, :specifications, class: '_specification_btn btn-primary' ) %>
    </div>
<% end %>